{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Список пользователей{% endblock %}

{% block page_content %}


<div class="page-header">
    <h1>Список всех пользователей           <a href="/adduser" class="btn btn-default align-baseline" role="button">Добавить нового пользователя</a>

    </h1>

</div>
{% if userlist %}
  <table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Роль</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
    {% for item in userlist%}
      <tr>
        <td>{{ item.id }}</td>
        <td> {{ item.username }}</td>
        <td> {{ item.role.rus_name }}</td>
          <td>
              <a href="/userlist/delete/{{ item.id }}" class="btn btn-danger btn-sm align-baseline" role="button">Удалить</a>
          </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
    <p>В таблице нет ни одного пользователя</p>
{% endif %}
{% endblock %}
